/*---------- commmon css start----------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a,li {
    text-decoration: none;
}

/*---------- commmon css End----------*/

/*---------- Manu Part Start----------*/

#menu_part{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 50px;
    

}

.logo{
    width: 30%;
}

.menu{
    width: 60%;
    margin-left: 300px;
   
}
.menu ul li{
    float: left;
    color: black;
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: rebeccapurple;
    padding: 5px 10px;
    border: 1px solid royalblue;
    border-radius: 10px;
    margin-left: 10px;
}


/*---------- Manu Part End----------*/


/*---------- Banner Part Start----------*/

#banner_full{
    width: 100%;
    height: 700px;
}


.width_half{
    width: 40%;
    float: left;
    margin: 5%;
}


.width_half img{
    width: 100%;
    height: 600px;
}


.width_half h1{
    font-size: 60px;
    font-weight: 700;
    width: 600px;
    color: black;
    margin-bottom: 50px;
    margin-top: 100px;    
}


.width_half p{
    font-size: 17px;
    font-weight: 400;
    color: rgb(119, 111, 111);
    margin-bottom: 50px;
    
}
.hedding{
    color: rgb(255, 166, 0);
}

.button{
    background-image: linear-gradient(darkorange,orangered);
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}




/*---------- Banner Part End----------*/


/*---------- About Part Start----------*/
#about_part {
    background: url(imeges/shapes/7.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}



/*---------- About Part End----------*/

/*---------- Recipies Part Start----------*/
#recipie_part{
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    
}


#recipie_part h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom:20px;
}

#recipie_part p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: rgb(119, 111, 111);
    
}



.imege_text {
    margin: 4%;
    width: 23%;
    height: 400px;
    border: 10px solid #fff;
    border-radius: 15px;
    box-shadow: 15px 7px 20px grey;
    float: left;
}

.imege_text img{
   width: 300px;
   height: 250px;
   border-radius: 15px;
   margin-left: 10px;
}
.imege_text h3{
    margin: 10px 0px 0px 10px;
    text-align: left;
  }

.imege_text p{
   margin-top: 30px;
   font-size: 17px;
    font-weight: 400;
    color: rgb(119, 111, 111);
 }

/*---------- Recipies Part End----------*/


/*---------- bonnes Part Start----------*/


#bonnes_head {
    width: 100%;
    height: 200px;
    box-shadow: 15px 7px 20px grey;
    margin-bottom: 100px;
}



.bonnes {
    float: left;
    width: 25%;
    margin: 4%;
    text-align: center;
}

.bonnes h1{
    margin-bottom: 05px;
    font-size: 60px;
    font-weight: 700;
}







/*---------- bonnes Part End----------*/


/*---------- footer Part Start----------*/


footer{
    background: black;
    padding: 50px 0px;
    text-align: center;
}

footer h1{
    color: blanchedalmond;
}

footer p{
    color: rgb(119, 111, 111);
    font-size: 17px;
    font-weight: 400;
    
}




/*---------- footer Part End----------*/